@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 2em;
  padding: 0;
  background-color: orange;
}

img {
	display: block;
	width: 100%;
}

.whole-form {
  width: 20em;
  margin-right: auto;
  margin-left: auto;
}

.title {
  font-size: 2em;
  font-family: 'univers', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  margin-bottom: .5em;
}

.add {
  background-color: rgba(0, 0, 0, .5);
  color: white;
  border: none;
  font-size: 1em;
  height: 2em;
  margin-top: 3px;
}

.input {
  height: 3em;
  width: 16em;
  padding-left: .5em;
  border: none;
  font-family: 'univers', sans-serif;
  font-weight: bold;
  margin-bottom: 3px;
}

.list {
  width: 18.5em;
  margin-left: 10%;
}

.done {
  border: none;
  background-color: white;
  margin-left: 1em;
}












